* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #666;
    max-width: 100%;
    overflow-x: hidden;
}

.bg-while {
    background-color: white;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-color {
    background-color: #f5f5f5;
}

.main {
    height: 1000vh;
}
/* HEADER */

header {
    background-color: #F6442E; 
}

/* HEADER TOP */

.header-top {
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 34px;
    margin: auto;
}

.header-top_left a,
.header-top_right a {
    color: #fff;
    padding: 10px;
    font-size: 13px;
    position: relative;
}

.header-top_left a:hover,
.header-top_right a:hover {
    color: rgb(224, 224, 224);
}

.separator::before {
    content: "";
    position: absolute;
    border: solid 1px #F98E81;
    height: 40%;
    top: 28%;
    right: -3px;
}

.dowload-app {
    position: absolute;
    background-color: yellow;
    width: 210px;
    right: -100%;
    text-align: center;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.dowload-app .dowload-app_gallery img,
.dowload-app .dowload-app_mb img {
    width: 80px;
    height: auto;
}

.dowload-app .dowload-app_mb {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dowload-app .dowload-app_gallery {
   display: flex;
   margin: 15px 13px 15px;
}

.header-top_left a:hover .dowload-app {
    display: block;
}

.notification {
    width: 300px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    right: 10px;
    display: none;
    z-index: 1;
}

.notification::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 37px;
    width: 20px;
    height: 20px;
    background-color: blue;
    transform: rotate(45deg);
}

.notification .notification-img {
    text-align: center;
    display: flex; 
    width: 100%;
    height: 100%;
}


.notification .notification-img img {
    width: 100px;
    height: auto;
    margin: auto;

}

.language {
    width: 200px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    right: 10px;
    display: none;
}

.language .language-item a {
    color: #000;
}

/* HEADER BOTTOM */

.header-bottom {
    height: 85px;
    background-color: #F6442E;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .header-bottom_logo img {
    width: 162px;
    height: 50px;
    color: #fff;
}

.header-bottom .header-bottom_logo .logo {
    width: 132px;
    height: 44px;
    object-fit: cover;
    fill: #fff;
  }

.header-bottom .header-bottom_search-input {
    min-width: 840px;
    position: relative;
}

.header-bottom .header-bottom_search-input::before {
    content: "";
    width: 60px;
    height: 34px;
    background-color: #F6442E;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 2px;
}

.header-bottom .header-bottom_search-input input {
    border: none;
    width: 100%;
    padding: 13px;
    border-radius: 2px;

}

.header-bottom .header-bottom_search-menu .menu .menu-item a {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.header-bottom_icon {
    height: 50px;
    width: 50px;
    background-color: blue;
}

/* END HEADER */


/* SLIDER */

.container-slider {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.container-slider .slider-left img {
    width: 797px;
    height: 235px;
    margin-right: 5px;
}

.container-slider .slider-right img {
    width: 398px;
    height: 115px;
}

/* END SLIDER */

/* HEADING */

.container-heading {
    margin-top: 20px;
    display: flex;
}

.container-heading .heading-item {
    width: 150px;
    height: 108px;
    text-align: center;
}

.container-heading .heading-item:hover {
    margin-top: -2px;
}

.container-heading .heading-item .heading-img img {
    width: 45px;
    height: 45px;
}

.container-heading .heading-item .heading-text span {
    color: #222222;
}

/* END HEADING */

/* CATEROGY */

.container-caterogy {
    padding-top: 20px;
}

.container-caterogy .caterogy-top {
    background-color: #fff;
    height: 61px;
    margin-top: 10px;
    line-height: 61px;
}

.container-caterogy .caterogy-top h3 {
    margin-left: 20px;
    color: rgba(44, 44, 44, 0.67);
    font-size: 16px;
    font-weight: 200;
}

.caterogy-bottom {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.caterogy-bottom .caterogy-bottom_item {
    width: 120px;
    height: 150px;
    border: 1px solid #f2f2f2;
}

.caterogy-bottom .caterogy-bottom_item:hover {
    border: 1px solid #d9d9d9;
    /* box-shadow: 0px 0px 0px 1px rgb(202, 202, 202); */
}

.caterogy-bottom .caterogy-bottom_item-img {
    text-align: center;
}

.caterogy-bottom .caterogy-bottom_item img {
    width: 83px;
    height: 88px;
}

.caterogy-bottom .caterogy-bottom_item .caterogy-bottom_item-text {
    text-align: center;
}

.caterogy-bottom .caterogy-bottom_item .caterogy-bottom_item-text span {
    font-size: 14px;
    color: #373737;
}

/* END CATEROGY */

/* FLASHSALE */

.container-flashsale {
    background-color: white;
    margin-top: 20px;
}

.container-flashsale .flashsale-top {
    display: flex;
    padding: 15px 0 0 20px;
    height: 60px;
}

.container-flashsale .flashsale-top .flashsale-top_img {
    display: flex;
    align-items: center;
}

.container-flashsale .flashsale-top .flashsale-top_img img {
    height: 30px;
    width: 150px;
}

.container-flashsale .flashsale-top .flashsale-top_time {
    display: flex;
    align-items: center;
    margin-left: 18px;
}

.container-flashsale .flashsale-top .flashsale-top_time .flashsale-top_time--item {
    background-color: #000;
    color: white;
    height: 18px;
    width: 20px;
    margin: 0 3px;
    text-align: center;
    line-height: 18px;
    border-radius: 2px;
}

/* FLASH-BOTTOM */

.container-flashsale .flashsale-bottom {
    height: 248px;
    margin-top: 15px;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product {
    display: flex;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img {
    width: 200px;
    height: 248px;
    text-align: center;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_img {
    position: relative;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_img::before {
    content: "";
    position: absolute;
    background-image: url(/assest/imgs/banner-sale-freeship.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    width: 170px;
    height: 170px;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_price {
    
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_price .price-number {
    font-size: 16px;
    font-weight: 700;
    color: #ee4d2d;
    margin-top: 13px;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_price .price-sold {
    width: 136px;
    margin: 0 auto;
    background-color: #FFBDA6;
    border-radius: 20px;
    height: 16px;
    line-height: 16px;
    margin-top: 7px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img .flashsale-bottom_price .price-sold .z1 {
    z-index: 1;
}

.price-sold_item {
    height: 100%;
    width: var(--percent);
    /* background-color: #EC1F16; */
    position: absolute;
    left: 0;
    border-radius: 20px;
    background-image: url(/assest/imgs/percent.png);
    background-repeat: no-repeat;
}

.container-flashsale .flashsale-bottom .flashsale-bottom_product .flashsale-bottom_product--img img {
    width: 170px;
    height: 170px;
}

/* END FLASHSALE */

/* BANNER */

.container-banner {
    padding: 20px 0;
}
/* END BANNER */

/* SHOPEE MALL */

.container-shopeemall {

}

.container-shopeemall .shopeemall-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.container-shopeemall .shopeemall-top .shopeemall-top_left {
    display: flex;
}

.container-shopeemall .shopeemall-top .shopeemall-top_left .shopeemall-top_left--title {
    padding: 0 20px;
    color: #D2011B;
    font-size: 17px;
    font-weight: 500;
}

.container-shopeemall .shopeemall-top .shopeemall-top_left .shopeemall-top_left--text {
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.container-shopeemall .shopeemall-top .shopeemall-top_right {
    margin-right: 20px;
}

.container-shopeemall .shopeemall-top .shopeemall-top_right a {
    color: #d0011b;
}

/* SHOPEE MALL BOTTOM */

.container-shopeemall .shopeemall-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_left {
    margin-left: 10px;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_left .shopeemall-left_img {
    height: 100%;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_left .shopeemall-left_img img {
    height: 100%;
    width: 380px;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_right .shopeemall-bottom_right--img {
    width: 200px;
    height: 236px;
    position: relative;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_right .shopeemall-bottom_right--img-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #d0011b;
    bottom: 8px;
}

.container-shopeemall .shopeemall-bottom .shopeemall-bottom_right .shopeemall-bottom_right--img img {
    height: 100%;
    width: 100%;
}

/* END SHOPEE MALL */

/* TOP SEARCH */

.container-topsearch {
    padding: 20px 0;
}

/* END TOP SEARCH */
